## SQL Assignment - 2

1) Write an SQL query to print the first three characters of FIRST_NAME from Worker table.

ans.

SELECT SUBSTRING(FIRST_NAME,1,3) from Worker;

2) Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

ans.

SELECT INSTR(FIRST_NAME, BINARY'a') from Worker WHERE FIRST_NAME = 'Amitabh';

3) Write an SQL query to print the name of employees having the highest salary in each department.

ans.

SELECT FIRST_NAME, MAX(Salary) FROM Worker GROUP BY DEPARTMENT;