## SQL Assignment - 7

- Q-13. Write an SQL query to show only odd rows from aÂ table.

ans.

select * from Worker where Worker_id in (select Worker_id from Worker where Worker_id%2=1)

- Q-14. Write an SQL query to clone a new table from another table.

ans.

select * into Worker_Clone from Worker;