## SQL Assignment - 1

1) Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>

ans.

SELECT FIRST_NAME AS WORKER_NAME FROM Worker;

2) Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

ans.

SELECT DISTINCT DEPARTMENT FROM Worker;

3) Write an SQL query to show the last 5 record from a table.

ans.

(The worker table must be having an 'Worker_ID' column, so we will arrange the Worker_ID in descending order and then find its top 5 records, which is practically last 5)

SELECT TOP 5 * FROM Worker
ORDER BY Worker_ID DESC;